.lasciarevuoto {
  height: 80px;
  background-color: #2F3E4E;
}

/* bg-color del jumbotron */
.bg-color-gray {
  background-color: #57B99D;
}



 .img-small {
  height: 150px;
}

.img-normal {
  height: 250px;
}

.text-color-white {
  color: #fff;
}

.row-avatar {
  padding-top: 20px;
}


.row-workers {
  margin-bottom: 20px;
}

/* element resize xs version */
.minus-star-icon > i {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

.minus-star-icon > hr {
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: #fff;
  vertical-align:middle;
}

h1 {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 25px
}

.workers-type {
  font-size: 10px;
}
